<div class="container meses" ng-hide="detailOn">
	<h3> Mirá cómo se distribuyeron los reclamos por mes y por Línea durante
		Año:<select name="options" ng-change="changeOption()" id="options" ng-model="selectedYear" ng-options="opt.year for opt in selectOptions">
	</select>
	 </h3>
	 <h5> Elegí alguna fila para ver que ocurrió ese mes.</h5>
	<div class="row" ng-hide="detailOn">
		<div class="col-xs-1">
				<h3> - </h3>
				<div ng-repeat="mes in stats.lineas[0].years[0].months">
					<div class="row  linea-mes ">
						<h3> {{getMonthName(mes.key)}} </h3>
					</div>
				</div>
		</div>
		<div class="col-xs-1" ng-repeat="linea in stats.lineas">
			<h3 class="linea-mes">{{linea.key[0]}}</h3>
			<div class="" ng-repeat="mes in stats.lineas[0].years[0].months">
				<div class="row linea-mes color-{{linea.key}} " style="background-color: {{ setColorFor(linea,mes) }};" >
					<h3> <a href="" ng-click="showDetail(linea,mes)" > {{ getValueFor(linea,mes) }} </a> </h3>
				</div>	
			</div>

			
		</div>
	</div>
 </div>
<div class="container meses">
	<div class="row" ng-show="detailOn">
		<a href="" ng-click="closeDetail()"> Volver a Grilla </a>

		<h3> Linea {{selectedLinea.key}} en  {{getMonthName(mes.key)}} {{selectedYear.year}} <strong> {{selectedMonth.values.length}} <small> reclamos </small> </strong> </h4>
		<div ng-repeat="temas in selectedMonth.temas.slice(0,3)" >
	    	<div class="row">
	    		<div class="col-md-8">
	    			<h5> <strong>{{temas.key}}</strong></h5>
	    		</div>
	    		<div class="col-md-4">
	    			<h5>{{temas.values.length}} <small> {{temas.values.length* 100 / selectedMonth.values.length}} % </small></h5>
	    		</div>
	    	</div>
    	</div>
    	<div class="col-xs-8">
    		<canvas  id="mainChart"  class="chart chart-line" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>

    	</div>
    </div>

    	
	 

	</div>
</div>