<div class="container meses" ng-hide="detailOn">
	<h4> Mirá cómo se distribuyeron los reclamos por mes y por Línea durante </h4>
			<div class="row">
				<div class="col-xs-12 col-md-3">
			Año:	<select name="options" ng-change="changeOption()" id="options" ng-model="selectedYear" ng-options="opt for opt in selectOptions"></select>
		</div>

	 <h5> En las celdas pueden verse la cantidad de reclamos que recibió cada línea mensualmente. Hacé click en ellas para conocer más detalles.</h5>
	<div class="row" ng-hide="detailOn">
		<div class="col-xs-1">
				<h3> - </h3>
				<div ng-repeat="mes in stats.lineas[0].years[0].months">
					<div class="row  linea-mes ">
						<h3> {{getMonthName(mes.key)}} </h3>
					</div>
				</div>
		</div>
		<div class="col-xs-1" ng-repeat="linea in stats.lineas">
			<h3 class="linea-mes color-{{linea.key}}" style="background-color: {{ setColorFor(linea,12) }};">{{linea.key[0]}}</h3>
			<div class="" ng-repeat="mes in stats.lineas[0].years[0].months">
				<div class="row linea-mes color-{{linea.key}} " style="background-color: {{ setColorFor(linea,mes) }};" >
					<h3> <a href="" ng-click="showDetail(linea,mes)" > {{ getValueFor(linea,mes) }} </a> </h3>
				</div>	
			</div>

			
		</div>
	</div>
 </div>
<div class="container meses">
	<div class="row" ng-show="detailOn">
		<div class="col-md-12 right">
			<a href="" ng-click="closeDetail()"> Volver a Grilla </a>
		</div>


		<div class="col-xs-12">
		<h3 class="color-{{selectedLinea.key}}"> En <strong>{{getMonthName(mes.key)}}</strong> de <strong>{{selectedYear.year}} </strong>la Línea {{selectedLinea.key}} </strong> recibió <strong>{{selectedMonth.values.length}}</strong> reclamos. </h3>
		<h3> Los reclamos más frecuentes fueron: </h3>
		</div>
		<div class="col-xs-12">
		<div ng-repeat="temas in selectedMonth.temas.slice(0,3)" >
	    	<div class="row">
	    		<div class="col-xs-1">
	    			<h5 class="color-{{selectedLinea.key}}"> <strong>{{temas.values.length}}</strong> </h5>
	    		</div>
	    		<div class="col-xs-8">
	    			<h5 class="color-{{selectedLinea.key}}"> {{temas.key}}</h5>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-8">
	    		<div class="progress">
                  <div class="progress-bar bg-color-{{selectedLinea.key}}"
                     role="progressbar"
                     ng-style="{ 'width': (temas.values.length* 100 / selectedMonth.values.length) + '%' }">
                     <span class="progressbar-w"><small>{{(temas.values.length* 100 / selectedMonth.values.length) | number:2}}%</small> </span>
                  </div>
               </div>
           		</div>
	    	</div>
	    	</div>
    	</div>
    	<div class="col-xs-8">
    		<canvas  id="mainChart"  class="chart chart-line" chart-colors="colors" chart-data="data" chart-labels="labels"
                      chart-series="series"></canvas>

    	</div>
    </div>

    	
	 

	</div>
</div>