<div class="container">
	<h4> Mirá cómo se distribuyeron los temas por los que reclamaron los usuarios durante:<p>
	Año:	<select name="options" ng-change="changeOption()" id="options" ng-model="selectedYear" ng-options="opt for opt in selectOptions">
</select>
Mes:	 <select name="options" ng-change="changeOption()" id="options" ng-model="selectedMes" ng-options="opt for opt in selectMesOption">
</select>
	Línea:	<select name="options" ng-change="changeOption()" id="lineas" ng-model="selectedLinea" ng-options="opt for opt in selectLineaOptions">
	</select>
	Estación:	<select name="options" ng-change="changeOption()" id="estaciones" ng-model="selectedEstacion" ng-options="opt for opt in selectEstacionOption">
	</select>
</p> </h4>
	
	<p> Por lo que podemos observar
		
			<span ng-show="selectedYear == 'TODOS'"> de <strong> 2014 a 2017 </strong> </span>
			<span ng-hide="selectedYear == 'TODOS' && selectedMes == 'TODOS'"> en <strong><span ng-hide="selectedMes == 'TODOS'"> {{selectedMes}} </span></strong><strong  ng-hide="selectedYear == 'TODOS'"> {{selectedYear}} </strong> </span> 
			<span ng-hide="selectedEstacion != 'TODAS'">
				<span ng-show="selectedLinea =='TODAS' && selectedLinea !='Sin especificar'"> <strong> en toda </strong> la <strong>red de subterraneos de Buenos Aires</strong> </span>
				<span ng-show="selectedLinea !='TODAS' && selectedLinea !='Sin especificar'"> en toda la linea <strong> {{selectedLinea}}</strong> </span>

				los usuarios reclamaron <span ng-show="selectedLinea =='Sin especificar'">  <strong> sin especificar una estación </strong></span> por 
			</span>
			<span ng-show="selectedEstacion != 'TODAS'">
				en la estación <strong>{{selectedEstacion}} </strong>los usuarios del subte reclamaron por 
			</span>
			<span ng-repeat="r in primerosTres">
				<strong> {{r.categoria}} </strong> unas  <strong> {{r.valor}} </strong> veces,
			</span> y lo menores reclamos fueron 
			<span ng-repeat="z in ultimosTres">
				<strong> {{z.categoria}}</strong> <strong> {{z.valor}}    </strong> veces
			</span>
    <canvas id="bar" class="chart  chart-horizontal-bar" chart-colors="colors" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>
	<div  id="chart">
	</div>
 </div>



