<div class="container">
	<h4> Mirá cómo se distribuyeron los temas por los que reclamaron los usuarios durante:<p>
	Año:	<select name="options" ng-change="changeOption()" id="options" ng-model="selectedYear" ng-options="opt for opt in selectOptions">
</select>
Mes:	 <select name="options" ng-change="changeOption()" id="options" ng-model="selectedMes" ng-options="opt for opt in selectMesOption">
</select>
	Línea:	<select name="options" ng-change="changeOption()" id="lineas" ng-model="selectedLinea" ng-options="opt for opt in selectLineaOptions">
	</select>
	Estación:	<select name="options" ng-change="changeOption()" id="estaciones" ng-model="selectedEstacion" ng-options="opt for opt in selectEstacionOption">
	</select>
</p> </h4>
	
	<p> 
		
			<span ng-show="selectedYear == 'TODOS'"> En<strong>  2014 a 2017 </strong> </span>
			<span ng-hide="selectedYear == 'TODOS' && selectedMes == 'TODOS'"> En <strong><span ng-hide="selectedMes == 'TODOS'"> {{selectedMes}} </span></strong><strong  ng-hide="selectedYear == 'TODOS'"> {{selectedYear}} </strong> </span> 
			se realizaron <strong> {{all}} </strong> reclamos,
			<span ng-repeat="r in primerosTres">
				<strong> {{r.categoria}} </strong> unas  <strong> {{r.valor}} </strong> veces,
			</span> 
			<span ng-hide="selectedEstacion != 'TODAS'">

				<span ng-show="selectedLinea =='TODAS' && selectedLinea !='Sin especificar'">en la <strong>red de Subte</strong> </span>
				<span ng-show="selectedLinea !='TODAS' && selectedLinea !='Sin especificar'"> en la linea <strong> {{selectedLinea}}</strong> </span>
				<span ng-show="selectedLinea =='Sin especificar'">  <strong> sin especificar una estación </strong></span> 
			</span>
			<span ng-show="selectedEstacion != 'TODAS'">en la estación <strong>{{selectedEstacion}}</strong>. </span>
			 Los reclamos menos frecuentes fueron 
			<span ng-repeat="z in ultimosTres">
				<strong> {{z.categoria}}</strong> <strong> {{z.valor}}    </strong> veces
			</span>



			<canvas id="bar" class="chart  chart-horizontal-bar" chart-colors="colors" chart-data="data" chart-labels="labels"
                      chart-series="series" chart-options="options"></canvas>
	<div  id="chart">
	</div>
 </div>



