
           
<div class="container">
	<p> Mira los temas que fueron mas reclamados durante <br/>
	Año::	<select name="options" ng-change="changeOption()" id="optionsYear" ng-model="selectedYear" ng-options="opt for opt in selectOptions">
</select>
	Mes::	<select name="options" ng-change="changeOption()" id="optionsMes" ng-model="selectedMes" ng-options="opt for opt in selectMesOption">
	</select>
	Línea:	<select name="options" ng-change="changeOption()" id="lineas" ng-model="selectedLinea" ng-options="opt for opt in selectLineaOptions">
	</select>
		Temas:	<select name="options" ng-change="changeOption()" id="temas" ng-model="selectedTema" ng-options="opt for opt in selectTemaOptions">
	</select>
</p>
<p> Por lo que podemos observar 
			<span ng-show="selectedYear == 'TODOS'"> de <strong> 2014 a 2017 </strong> </span>
			<span ng-hide="selectedYear == 'TODOS'"> durante el año <strong> {{selectedYear}} </strong> </span> 
			<span ng-hide="selectedEstacion != 'TODAS'">
				<span ng-show="selectedLinea =='TODAS'"> <strong> en toda </strong> la <strong>red de subterraneos de Buenos Aires </strong> </span>
				<span ng-show="selectedLinea !='TODAS'"> en toda la linea <strong> {{selectedLinea}}</strong> </span>
				en la estación <strong>{{selectedEstacion}} </strong>los usuarios del subte reclamaron <strong> {{all}} </strong> veces <span ng-show="selectedTema != 'TODOS'"> por {{selectedTema}}</span> donde la estaciones mas importantes son
			
				<span ng-repeat="r in primerosTres">
					<strong> {{r.categoria}} </strong> unas  <strong> {{r.valor}} </strong> veces,
				</span>
			
</div>
<div class="container">
	<div ng-hide="currentMapEstacion">
<h5> Elegi una estación en el mapa para poder ver los temas mas reclamados en cada estación.</h5> 
			<p><strong> - </strong></p>
			<p><strong> - </strong></p>
		</div>
<div ng-show="currentMapEstacion">
<h5> En <strong>{{currentMapEstacion.estacion}} {{currentMapEstacion.linea}} </strong> hubieron  {{currentMapEstacion.valor}} reclamos, donde los mas importantes fueron </h5> 
<span ng-repeat="r in currentMove.slice(0,4)">
				<strong> {{r.categoria}} </strong> unas  <strong> {{r.valor}} </strong> veces,
			</span> 
		</div>
</div>

				<subte-chart
		container="'subte'"
		lines="serve"
	></subte-chart>

